name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

permissions: {}

jobs:
  tox:
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest

    permissions:
      contents: read

    container: python:${{ matrix.python }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - {name: '3.14', python: '3.14', tox: py314}
          - {name: '3.13', python: '3.13', tox: py313}
          - {name: '3.12', python: '3.12', tox: py312}
          - {name: '3.11', python: '3.11', tox: py311}
          - {name: '3.10', python: '3.10', tox: py310}
          - {name: 'docs', python: '3.14', tox: docs}
          - {name: 'format', python: '3.14', tox: format}
          - {name: 'mypy', python: '3.14', tox: mypy}
          - {name: 'pep8', python: '3.14', tox: pep8}
          - {name: 'package', python: '3.14', tox: package}

    steps:
      - uses: pgjones/actions/tox@dbbee601c084d000c4fc711d4b27cb306e15ead1 # v1
        with:
          environment: ${{ matrix.tox }}

  redis-tox:
    runs-on: ubuntu-latest

    container: python:3.14

    services:
      redis:
        image: redis:8
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - run: pip install tox

      - run: tox -e redis

  valkey-tox:
    runs-on: ubuntu-latest

    container: python:3.14

    services:
      valkey:
        image: valkey/valkey:9
        options: >-
          --health-cmd "valkey-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - run: pip install tox

      - run: tox -e valkey

  zizmor:
    name: Zizmor
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - uses: pgjones/actions/zizmor@dbbee601c084d000c4fc711d4b27cb306e15ead1 # v1
